body {
  width: 100%;
  margin: 0;
}

header {
  margin: 0px;
  background-color: #121d29;
  position: relative;
  align-items: center;
  color: rgb(66, 158, 250);
  min-width: 860px;
}

#titulo {
  display: inline;
  position: absolute;
  top: -20%;
  margin-left: 2%;
  vertical-align: bottom;
  font-size: 6vh;
}

#imagenTitulo {
  width: 10vh;
  margin-left: 2vh;
}

main {
  font-size: 2vh;
  font-family: sans-serif;
  padding: 0;
  margin: 1%;
}

#contenedor_mapa h3 {
  text-align: left;
  box-sizing: border-box;
  background: rgb(8, 45, 82);
  color: white;
  padding-left: 2%;
  margin: 0;
}

#contenedor_mapa {
  border: solid 1px black;
  box-sizing: border-box;
  height: auto;
  min-width: 600px;
  background-color: rgb(186, 218, 249);
  text-align: center;
}

#contenedor_mapa #iDireccion {
  text-align: center;
  font-size: 1.7vh;
  width: 90%;
  margin: 0.5% auto 0.5% auto;
}

#mapa_canvas {
  border: solid 1px black;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  margin: 0;
}

#contenedor_trayecto {
  display: inline-flexbox;
  margin: 0;
  border: solid 1px black;
  box-sizing: border-box;
  height: auto;
  background-color: rgb(186, 218, 249);
}

#contenedor_trayecto label {
  color: #121d29;
  font-weight: bold;
  margin: 1%;
  font-size: 2vh;
}

#contenedor_trayecto select {
  font-size: 2vh;
  margin: 1%;
  width: 70%;
}

#contenedor_trayecto #bInicioParo {
  color: #121d29;
  margin: 1%;
  background-color: #24f519;
  text-align: right;
  font-size: 2vh;
  border-radius: 1.5vh;
  width:11vh;
  height: 4.5vh;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5%;
  background-image: url(../images/Iniciar.png);
}

#contenedor_configuracion {
  display: inline-flexbox;
  margin: 0;
  border: solid 1px black;
  box-sizing: border-box;
  height: auto;
  background-color: rgb(186, 218, 249);
}

#contenedor_configuracion #iHoraActual{
  width: 15vh;
}



/*Footer*/
footer {
  margin: 1%;
  border-top: 1px solid #5b7065;
  color: black;
}

footer p {
  text-align: center;
  font-size: 1.2vh;
}