body {
  width: 100%;
  margin: 0;
}

header {
  margin: 0px;
  background-color: #121d29;
  position: relative;
  align-items: center;
  color: rgb(66, 158, 250);
}

#titulo {
  display: inline;
  position: absolute;
  top: -20%;
  margin-left: 2%;
  vertical-align: bottom;
  font-size: 6vh;
}

#imagenTitulo {
  width: 10vh;
  margin-left: 2vh;
}

main {
  font-size: 2vh;
  font-family: sans-serif;
  padding: 0;
  margin: 1%;
}

#contenedor_mapa h3 {
  text-align: left;
  box-sizing: border-box;
  background: rgb(8, 45, 82);
  color: white;
  padding-left: 2%;
  margin: 0;
}

#contenedor_mapa {
  border: solid 1px black;
  box-sizing: border-box;
  height: auto;
  background-color: rgb(186, 218, 249);
  text-align: center;
}

#contenedor_mapa #iDireccion {
  text-align: center;
  font-size: 1.7vh;
  width: 90%;
  margin: 0.5% auto 0.5% auto;
}

#mapa_canvas {
  border: solid 1px black;
  box-sizing: border-box;
  width: 100%;
  height: 42vh;
  margin: 0;
}

#contenedor_trayecto {
  display: inline-flexbox;
  align-items: center;
  border: solid 1px black;
  box-sizing: border-box;
  height: auto;
  background-color: rgb(186, 218, 249);
  text-align: center;
}

#contenedor_trayecto label {
  color: #121d29;
  font-weight: bold;
  margin: 1% 0;
  font-size: 2vh;
}

#contenedor_trayecto select {
  font-size: 2vh;
  margin: 1% 0 1% 1%;
  width: 80%;
}

#contenedor_trayecto #bInicioParo {
  color: #121d29;
  margin: 1%;
  background-color: #24f519;
  text-align: right;
  font-size: 2vh;
  border-radius: 1.5vh;
  min-width:13vh;
  height: 4.5vh;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5%;
  background-image: url(../images/Iniciar.png);
}

#contenedor_configuracion {
  text-align: center;
  margin: 0;
  border: solid 1px black;
  box-sizing: border-box;
  height: auto;
  background-color: rgb(186, 218, 249);
}

#contenedor_configuracion #controles{
  display: flex;
  margin: 0;
  justify-content: center;
}

#contenedor_configuracion #controles div{
  min-width: auto;
}

#contenedor_configuracion #iHoraActual{
  width: 20vh;
  min-width: 20vh;
  font-size: 2vh;
}

#contenedor_configuracion div{
  margin:1% 0;
}

#contenedor_configuracion label{
  font-weight: bold;
}

#contenedor_configuracion #controles input{
  margin: 1% 3% 2% 0;
}

#contenedor_configuracion #controles label{
  margin: 1% 1% 2% 0;
}

/*Footer*/
footer {
  margin: 1%;
  border-top: 1px solid #5b7065;
  color: black;
}

footer p {
  text-align: center;
  font-size: 1.2vh;
}

@media screen and (max-width:660px){
  #titulo {
    font-size: 3vh;
    top: 10%;
    margin-left: 0;
  }

  #contenedor_trayecto{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
  }

  #contenedor_trayecto div{
    margin:0 auto;
  }

  #contenedor_trayecto #bInicioParo{
    width:14vh;
    height: 5vh;
  }

  #contenedor_configuracion #iHoraActual{
    width: 20.5vh;
    min-width: 20.5vh;
  }

  #contenedor_configuracion #controles{
    flex-direction: column;
    text-align: left;
  }

  #contenedor_configuracion #controles label{
    margin-bottom: 0;
  }

  #contenedor_configuracion #controles input{
    margin-bottom: 1%;
  }

  #contenedor_configuracion #controles label, #contenedor_configuracion #controles input{
    margin-left: 2%;
  }
}

@media (max-height:600px){
  #contenedor_trayecto label{
    font-size: 14px;
  }

  #contenedor_configuracion label{
    font-size: 14px;
  }

  #contenedor_configuracion #iHoraActual{
    font-size: 14px;
    min-width: 140px;
  }

  #contenedor_trayecto #bInicioParo{
    width: 90px;
    height: 40px;
    font-size: 14px;
  }

  #contenedor_trayecto select {
    font-size: 14px;
  }

  #contenedor_mapa #iDireccion {
    font-size: 14px;
  }
}